<h2> Create Your Account </h2>

<form action='/users' method='post'>
    <label for="name">Name: </label>
    <input type="text" name="name" id="name">
    <label for="email">Email: </label>
    <input type="text" name="email" id="email">
    <label for="password">Password: </label>
    <input type="password" name="password" id="password">
    <label for="profile_bio">Tell us about yourself: </label>
    <input type="text" name="profile_bio" id="profile_bio">
    <br>
    <input type="submit" value="Submit">
</form>

<br>
<a href="/"> Back </a>